{% extends "base.html" %}

{% block body %}

<!--
    <p>{{ player_cards }}</p> 
    <p>{{ player_total }}</p>
    <hr>
    <p>{{ dealer_cards }}</p> 
    <p>{{ dealer_total }}</p>
-->

<div class="box" id="game_box">

    <div id="card_box"> 

        <h1>Dealer Cards</h1>

        <div id="card_layout">
            {% for card in dealer_cards %}
            {% if dealer_card_is_hidden and loop.index0 == 1 %}
                <img id="card" src="static/cards/back.png"/>
            {% else %}       
                <img id="card" src="static/cards/{{ card[-1][-1] }}"/>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    <div id="card_box">
        
        <h1>Player Cards</h1>

        <div id="card_layout"> 
            {% for card in player_cards %}
                    <img id="card" src="static/cards/{{ card[-1][-1] }}"/>
            {% endfor %}
        </div>

    </div>

</div>

<div class="box" id="game_status_box">

    <h3> Number of cards left in deck: {{ number_of_cards }} .</h3> <br>
    
    <h3>Total for the player is: {{ player_total }}</h3> <br>

    {%if dealer_card_is_hidden%}
            <h3>Current total for the dealer is: {{dealer_hidden_total}}</h3>
        {%else%}
            <h3>Total for the dealer is: {{dealer_total}}</h3>
        {%endif%}
        

    <img id="card" src="static/cards/back.png"/>

    <form action="/stand" method="post">
        <input type="submit" value="Stand"/>
    </form>
    <form action="/hit" method="post">
        <input type="submit" value="Hit"/>
    </form>

    {% if is_game_over%}
    If you wish to play again you can press the Restart button!

    <form action="/restart" method="post">
        <input type="submit" value="Restart"/>
    </form>
    {%endif%}

    

    Status: {{ game_status }}.

</div>







    

{% endblock %} 