{% extends "base.html" %}

{% block body %}

<!--
    <p>{{ player_cards }}</p> 
    <p>{{ player_total }}</p>
    <hr>
    <p>{{ dealer_cards }}</p> 
    <p>{{ dealer_total }}</p>
-->

<h1>Dealer Cards</h1>
    <p>
        <img src="static/cards/{{ dealer_cards[0][-1][-1] }}"/>
        <img src="static/cards/back.png"/>
    </p>
    <!--
        <h3>Total for the dealer is: {{ dealer_total }}</h3>
    -->

<h1>Player Cards</h1>
    <p>
    {% for card in player_cards %}
        <img src="static/cards/{{ card[-1][-1] }}"/>
    {% endfor %}
    </p>
    <h3>Total for the player is: {{ player_total }}</h3>

    <form action="/stand" method="post">
        <input type="submit" value="Stand"/>
    </form>
    <form action="/hit" method="post">
        <input type="submit" value="Hit"/>
    </form>

    The number of cards in the deck is: {{ number_of_cards }}.

{% endblock %} 